pandas
requests
beautifulsoup4
trafilatura
python-dateutil
vaderSentiment
jupyter
notebook
ipykernel
matplotlib
seaborn
numpy
scikit-learn
gymnasium
stable-baselines3[extra]
torch
transformers==4.44.2
tqdm
